.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(0.7rem + 1vw);

  background: #232c46;
  background: linear-gradient(
    221deg,
    hsl(225, 33%, 12%) 0%,
    hsl(226, 33%, 18%) 50%,
    hsl(270, 17%, 12%) 100%
  );
}

.game-logos {
  display: flex;
  gap: 45px;
}

.game-emoji {
  width: 120px;
  height: 120px;
  font-size: clamp(2.75rem, 6vw + 1rem, 5rem) !important;
  cursor: pointer;
  transition: transform 0.25s, filter 0.25s;
  display: inline-block;
  padding: clamp(0.5rem, 1vw + 0.5rem, 0.5rem);
  -webkit-text-stroke: 1rem #571557;
}

.game-emoji:hover {
  transform: scale(1.15);
  filter: drop-shadow(0 0 1.5rem #2da0bdb4);
}

h1.project-title {
  font-size: clamp(1.5rem, 4vw + 1rem, 3.5em);
  line-height: 1.1;
  -webkit-text-stroke: 0.1rem #571557;
  text-shadow: 0 0 5px #ff3dff, 0 0 10px #ff3dff, 0 0 20px #ff3dff,
    0 0 40px #ff3dff;
}

footer.click-to-start {
  font-style: italic;
  color: #bbd0d58a;
  font-size: clamp(0.8rem, 2vw + 0.5rem, 1em);
  text-shadow: 0 0 0.5rem #2da0bd9d, 0 0 1rem #2da0bd;
  margin-top: 1em;
}

p {
  color: #bbd0d5a5;
  text-shadow: 0 0 0.5rem #2da0bd6d, 0 0 1rem #2da0bd99;
  font-size: clamp(0.8rem, 2vw + 0.5rem, 1em);
  margin-top: 1em;
}

button {
  font-size: clamp(0.8rem, 2vw + 0.5rem, 1rem);
  padding: clamp(0.5rem, 1vw + 0.5rem, 0.8rem) clamp(0.5rem, 2vw + 1rem, 2rem);
  border: none;
  border-radius: 8px;
  background-color: #0a7a6bc9;
  color: rgba(255, 255, 255, 0.892);
  text-shadow: 0 0 5px #ff3dff, 0 0 10px #ff3dff, 0 0 20px #ff3dff,
    0 0 40px #ff3dff;
  cursor: pointer;
  transition: background-color 0.25s, transform 0.25s;
}
