:root {
  --Green-Dark: hsl(168, 57%, 9%);
  --Green-Dark-v1: hsl(170, 55%, 10%);
  --Green-Muted: hsl(171, 27%, 33%);
  --Green-Muted-v1: hsl(171, 43%, 15%);
  

}


.game {
  width: fit-content;
  width: 100%;
  margin: 0 auto;
  color: black;
  background-color: var(--Green-Dark-v1);
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

main {
  width: 958.5px;
  height: 581px;

  margin: 0 auto;

  background: #163732;
  border-radius: 20px;
}

footer{
  color: gainsboro;
  font-size: small;
  font-style: italic;
  text-align: center;
  margin-top: 30px;
}

/* Components */
button {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  background-color: hsl(0, 0%, 90%);
  border: none;


  &:hover {
    color: hsl(0, 0%, 12%);
    cursor: pointer;
  }

  img {
    margin: 0 auto;
  }

  span {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
}