:root {
  --Green-Dark: hsl(168, 57%, 9%);
  --Green-Dark-v1: hsl(170, 55%, 10%);
  --Green-Muted: hsl(171, 27%, 33%);
  --Green-Muted-v1: hsl(171, 43%, 15%);
}


.kotaina {
  width: 100%;
  /* height: 100svh; */
  margin: 0 auto;
  color: black;
  background-color: var(--Green-Dark-v1);
}

nav.skeleton-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

main.skeleton-main {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background: #163732;
  border-radius: 20px;
}

.group-settings{
  display: flex;
  gap: 5px;
}

footer.skeleton-footer{
  color: gainsboro;
  font-size: small;
  font-style: italic;
  /* padding: 20px; */
  text-align: center;
  margin-top: 30px;
  
}

/* Components */
button.skeleton-btn {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  background-color: var(--Green-Muted);
  border: none;
  


  &:hover {
    color: hsl(0, 0%, 12%);
    cursor: pointer;
  }

  img {
    margin: 0 auto;
  }

  span {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
}