:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}


#app {
  width: 100%;
  margin: 0 auto;
}


/* src/style.css */
:root {
--primary: #1abc9c;
--bg: #0b3a2e;
--accent: #6ee7cb;
--text: #ffffff;
}


body {
margin:0;
background: var(--bg);
color: var(--text);
font-family: system-ui, sans-serif;
}



